<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>404 - Page Not Found</title>
</head>
<body>
    <%- include('partials/navbar', {page: ''}) %>

    <div class="container mx-auto my-8">
        <div class="bg-blue-200 p-4 rounded-lg">
            <h1 class="text-4xl font-semibold mb-4">404 - Page Not Found</h1>
            <p class="text-lg"><%= message %></p>
        </div>
        <div class="bg-white p-4 rounded-lg shadow-md mt-4">
            <img src="/images/404.png" alt="404 Error" class="w-full">
        </div>
    </div>
</body>
</html>
